In [1]:
%matplotlib notebook

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [37]:
# Read CSV

mb = pd.read_csv("Military_Clean.csv")
ufo= pd.read_csv("ufo_clean.csv")
combined_data = pd.merge(mb, ufo)
combined_data['state'].replace(
    to_replace=['tx'],
    value='Texas',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['hi'],
    value='Hawaii',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['tn'],
    value='Tennessee',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ct'],
    value='Connecticut',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['al'],
    value='Alabama',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ak'],
    value='Alaska',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['az'],
    value='Arizona',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ar'],
    value='Arkansas',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ca'],
    value='California',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['co'],
    value='Colordo',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['de'],
    value='Delaware',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['tx'],
    value='Texas',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['fl'],
    value='Florida',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ga'],
    value='Georgia',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['id'],
    value='Idaho',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['il'],
    value='Illinios',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['in'],
    value='Indiana',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ia'],
    value='Iowa',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ks'],
    value='Kansas',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ky'],
    value='Kentucky',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['la'],
    value='Louisiana',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['me'],
    value='Maine',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['mi'],
    value='Michigan',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['md'],
    value='Maryland',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ma'],
    value='Massachusetts',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['mn'],
    value='Minnesota',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ms'],
    value='Mississippi',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['mo'],
    value='Missouri',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['mt'],
    value='Montana',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ne'],
    value='Nebraska',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nh'],
    value='New Hampshire',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nj'],
    value='New Jersey',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['tx'],
    value='Texas',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nm'],
    value='New Mexico',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ny'],
    value='New York',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nc'],
    value='North Carolina',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nd'],
    value='North Dakota',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['oh'],
    value='Ohio',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ok'],
    value='Oklahoma',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['or'],
    value='Oregon',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['pa'],
    value='Pennsylvania',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ri'],
    value='Rhode Island',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['ut'],
    value='Utah',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['vt'],
    value='Vermont',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['va'],
    value='Virginia',
    inplace=True
)
f
combined_data['state'].replace(
    to_replace=['wv'],
    value='West Virginia',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['wi'],
    value='Wisconsin',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['wy'],
    value='Wyoming',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['nv'],
    value='Nevada',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['pr'],
    value='Puerto Rico',
    inplace=True
)
combined_data['state'].replace(
    to_replace=['sc'],
    value='South Carolina',
    inplace=True
)
combined_data

,Unnamed: 0,OBJECTID_1,OBJECTID,COMPONENT,SITE_NAME,JOINT_BASE,STATE_TERR,COUNTRY,OPER_STAT,PERIMETER,...,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,0,1,1,Army Active,Fort Lee,NaN,Virginia,United States,Active,23.186825,...,san marcos,Texas,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,3,4,4,Army Active,Redstone Arsenal,NaN,Alabama,United States,Active,36.824373,...,edna,Texas,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
2,4,5,6,Army Active,Pohakuloa Training Area,NaN,Hawaii,United States,Active,89.064642,...,kaneohe,Hawaii,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
3,5,6,9,Army Active,Yakima Training Center,Joint Base Lewis - McChord,Washington,United States,Active,119.306229,...,bristol,Tennessee,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
4,7,8,12,Army Active,Fort A P Hill,NaN,Virginia,United States,Active,56.230832,...,norwalk,Connecticut,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333
5,8,9,13,Army Active,Fort Campbell TN,NaN,Tennessee,United States,Active,53.889635,...,pell city,Alabama,us,disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.586111,-86.286111
6,9,10,14,Army Active,Arlington National Cemetery,NaN,Virginia,United States,Active,5.878839,...,live oak,Florida,us,disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167
7,10,11,27,Army Reserve,Fort Hunter Liggett,NaN,California,United States,Active,112.285280,...,hawthorne,California,us,circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.916389,-118.351667
8,11,12,41,Army Active,Fort Huachuca,NaN,Arizona,United States,Active,76.520897,...,brevard,North Carolina,us,fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.233333,-82.734444
9,12,13,43,Army Active,Fort Carson,NaN,Colorado,United States,Active,70.916824,...,bellmore,New York,us,disk,1800.0,30 min.,silver disc seen by family and neighbors,5/11/2000,40.668611,-73.527500
10,13,14,44,Army Active,Pinon Canyon,NaN,Colorado,United States,Active,102.493856,...,manchester,Kentucky,us,unknown,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944
11,14,15,46,Army Active,Fort Gordon,NaN,Georgia,United States,Active,49.528818,...,lexington,North Carolina,us,oval,30.0,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.823889,-80.253611
12,15,16,49,Army Reserve,Parks Reserve Forces Tng Area,NaN,California,United States,Active,12.102337,...,harlan county,Kentucky,us,circle,1200.0,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.843056,-83.321944
13,16,17,50,Army Active,Lake Of The Ozarks Recreation,NaN,Missouri,United States,Active,3.844735,...,west bloomfield,Michigan,us,disk,120.0,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.537778,-83.233056
14,17,18,51,Army Active,Fort Jackson,NaN,South Carolina,United States,Active,42.460919,...,niantic,Connecticut,us,disk,1800.0,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.325278,-72.193611
15,19,20,53,Army Active,Fort Leavenworth,NaN,Kansas,United States,Active,15.806011,...,hudson,Massachusetts,us,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667
16,21,22,60,Army Active,England Authority,NaN,Louisiana,United States,Active,6.038538,...,hudson,Kansas,us,light,1200.0,one hour?,The light chased us.,7/25/2004,38.105556,-98.659722
17,22,23,61,Army Active,Fort Riley,NaN,Kansas,United States,Active,76.124234,...,north charleston,South Carolina,us,light,360.0,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.854444,-79.975000
18,23,24,62,Army Reserve,Fort McCoy,NaN,Wisconsin,United States,Active,66.120126,...,washougal,Washington,us,oval,60.0,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.582778,-122.352222
19,25,26,65,Army Active,Allen Stagefield AL,NaN,Alabama,United States,Active,1.641383,...,san antonio,Texas,us,other,30.0,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333
20,26,27,66,Army Active,Brown 4b Stagefield AL,NaN,Alabama,United States,Active,1.984040,...,louisville,Kentucky,us,light,30.0,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.254167,-85.759444
21,27,28,67,Army Active,Cairns Basefield AL,NaN,Alabama,United States,Active,7.260375,...,elmont,New York,us,rectangle,300.0,5min,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333
22,28,29,68,Army Active,Fort Rucker AL,NaN,Alabama,United States,Active,60.307416,...,poughkeepsie,New York,us,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389
23,30,31,70,Army Active,Highbluff Stagefield AL,NaN,Alabama,United States,Active,1.618264,...,san diego,California,us,oval,180.0,3 minutes,My 2nd UFO sighting&#44 October 1979,8/5/2001,32.715278,-117.156389
24,31,32,72,Army Active,Hunt Stagefield AL,NaN,Alabama,United States,Active,1.923176,...,security,Colordo,us,unknown,1800.0,30mins.,very low clouds all different colors&#44search...,1/28/1999,38.758333,-104.742500
25,32,33,73,Army Active,Louisville Stagefield AL,NaN,Alabama,United States,Active,1.723380,...,houston,Texas,us,sphere,180.0,3 min,Sphere&#44 No lights&#44 moving through neigh...,4/16/2005,29.763056,-95.363056
26,33,34,74,Army Active,Runkle Stagefield AL,NaN,Alabama,United States,Active,2.812786,...,dallas,Texas,us,unknown,300.0,5 minutes,Strange shape shifting craft of pure light ene...,10/28/2002,32.783333,-96.800000
27,34,35,75,Army Active,Shell Basefield AL,NaN,Alabama,United States,Active,2.358015,...,manchester,New Hampshire,us,light,300.0,3 to 5 min,A red glowing sphere stopped and watched me.,11/21/2010,42.995556,-71.455278
28,36,37,77,Army Active,Stinson 5AB Stagefield AL,NaN,Alabama,United States,Active,2.098668,...,houston,Texas,us,circle,60.0,1 minute,2 experience with unkown,4/18/2012,29.763056,-95.363056
29,37,38,81,Army Active,Tac X Stagefield AL,NaN,Alabama,United States,Active,1.682503,...,traverse city,Michigan,us,other,120.0,couple minutes,translucent football seen over city airport,10/7/2003,44.763056,-85.620556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,740,741,5998,AF Active,Peterson AFB,NaN,Colorado,United States,Active,12.599617,...,albuquerque,New Mexico,us,oval,3600.0,1hr,lights,10/27/2004,35.084444,-106.650556
572,741,742,5999,AF Active,Robins AFB,NaN,Georgia,United States,Active,18.315831,...,richmond,Virginia,us,triangle,300.0,5 minutes,Two triangular shaped craft with white and red...,12/3/2004,37.553611,-77.460556
573,742,743,6000,Navy Active,Solomons Island MD,NaN,Maryland,United States,Active,4.872940,...,tucson,Arizona,us,unknown,1.0,less than 1 sec.,Tucson Mysterious Streaks of Light,10/27/2004,32.221667,-110.925833
574,745,746,6005,Army Active,Tooele Army Depot,NaN,Utah,United States,Active,35.207397,...,sidney,Michigan,us,sphere,14400.0,4 hours,stars that fly,10/27/2004,43.250000,-85.133056
575,748,749,6023,AF Active,Grand Forks AFB,NaN,North Dakota,United States,Active,17.028921,...,harrisburg,Missouri,us,light,2400.0,40 minutes,The waves of lights seemed to materialize high...,12/12/2009,39.126900,-92.439900
576,749,750,6031,AF Active,Los Angeles AFB,NaN,California,United States,Active,1.268777,...,oak forest,Illinios,us,circle,3600.0,1 hour,At approximitly 0:00 I spotted three red circu...,10/11/2005,41.602778,-87.743889
577,750,751,6053,AF Active,Mountain Home AFB,NaN,Idaho,United States,Active,12.652571,...,oak forest,Illinios,us,light,3600.0,hour,I saw the three red lights in the sky over Oak...,10/11/2005,41.602778,-87.743889
578,751,752,6054,Navy Active,NARL Barrow Camp Tr1,NaN,Alaska,United States,Active,8.170828,...,orland park,Illinios,us,diamond,2700.0,45 min,3 red lights hovering in the northeast sky,10/11/2005,41.630278,-87.853889
579,752,753,6060,Navy Active,NAS Fallon NV,NaN,Nevada,United States,Active,22.066307,...,tinley park,Illinios,us,circle,1200.0,15-20 minutes,3 red lights over Tinley Park,10/11/2005,41.573333,-87.784444
580,754,755,6066,Navy Active,NAVSUPPACT Mechanicsburg PA,NaN,Pennsylvania,United States,Active,6.031000,...,orland park,Illinios,us,light,420.0,7 minutes,Red lights in sky over Orland Park&#44 Illinois,10/11/2005,41.630278,-87.853889
581,755,756,6075,AF Active,Nellis AFB,NaN,Nevada,United States,Active,47.385287,...,orland park,Illinios,us,light,6.0,:06,Red lights over Orland Park,10/11/2005,41.630278,-87.853889
582,756,757,6125,AF Active,Nellis Air Force Range,NaN,Nevada,United States,Active,489.093319,...,midlothian,Illinios,us,light,1500.0,20-25minutes,Red lights&#44 southland Chicago,10/11/2005,41.625278,-87.717500
583,757,758,6154,Army Active,Pine Bluff Arsenal,NaN,Arkansas,United States,Active,25.391297,...,oak forest,Illinios,us,changing,600.0,5-10 minutes,3 red lights altered formations and each indiv...,10/11/2005,41.602778,-87.743889
584,758,759,6158,AF Guard,Sioux Gateway Airport (ANG),NaN,Iowa,United States,Active,0.743775,...,oak forest,Illinios,us,light,600.0,five to ten minutes,That night after closing my garage door I glan...,10/11/2005,41.602778,-87.743889
585,760,761,6165,Navy Active,Shipyard Puget Sound,NaN,Washington,United States,Active,3.258524,...,tinley park,Illinios,us,circle,600.0,10 mins,Three red blinking dots in the sky that hoover...,10/11/2005,41.573333,-87.784444
586,761,762,6166,Navy Active,Naval Base Kitsap Bremerton WA,NaN,Washington,United States,Active,5.187286,...,tinley park,Illinios,us,circle,600.0,10 minutes,3 red lights in Tinley Park sky,10/11/2005,41.573333,-87.784444
587,762,763,6167,Navy Active,Jim Creek,NaN,Washington,United States,Active,15.157220,...,tinley park,Illinios,us,formation,1200.0,20 minutes,Three Red Lights Over Tinley Park,10/11/2005,41.573333,-87.784444
588,763,764,6169,AF Active,Beale AFB,NaN,California,United States,Active,29.510142,...,tinley park,Illinios,us,triangle,1800.0,30 min +,I saw 3 red flashing/blinking lights in sky 1...,10/11/2005,41.573333,-87.784444
589,764,765,6171,Army Active,Holston AAP,NaN,Tennessee,United States,Active,34.721593,...,tinley park,Illinios,us,triangle,900.0,15 mins.,saw three red glowing lights in the sky above&...,10/11/2005,41.573333,-87.784444
590,765,766,6176,Army Active,Joliet AAP Elwood,NaN,Illinois,United States,Inactive,7.887306,...,oak forest,Illinios,us,light,1200.0,20:00 minutes,red dots seen in sky formed triangle,10/11/2005,41.602778,-87.743889
591,766,767,6180,Navy Active,Keyport NUWC,NaN,Washington,United States,Active,3.009723,...,evergreen park,Illinios,us,light,480.0,8 minutes,Two red lights sitting in the sky&#44 but I co...,10/11/2005,41.720556,-87.701667
592,767,768,6195,MC Active,MCB Camp Lejeune (East Site),NaN,North Carolina,United States,Active,174.267175,...,alsip,Illinios,us,light,480.0,8 minutes,RED LIGHTS SEEN IN ALSIP ILLINOIS,10/11/2005,41.668889,-87.738611
593,768,769,6200,Navy Active,NAS Whidbey Island WA,NaN,Washington,United States,Active,17.153189,...,crestwood,Illinios,us,light,300.0,5 min,3 small lights formed a triangle then straight...,10/11/2005,41.661111,-87.752500
594,769,770,6203,AF Active,Ozol Defense Fuel Support Point,NaN,California,United States,Active,2.431823,...,cuyahoga falls,Ohio,us,other,7.0,5-7 seconds,V-shaped object seen in sky of Cuyahoga Falls&...,2/14/2006,41.133889,-81.484722
595,770,771,6207,Army Active,Twin Cities AAP,NaN,Minnesota,United States,Inactive,5.448696,...,hillside,Illinios,us,changing,7.0,1/2 hour,Initially observed a white dot in the northwes...,10/11/2005,41.877778,-87.902778
596,771,772,6215,AF Active,King Salmon Airport,NaN,Alaska,United States,Active,3.603868,...,manhattan,Illinios,us,triangle,10.0,10 seconds,Tinley Park Lights Are Back&#33&#33&#33,10/11/2005,41.422500,-87.985833
597,772,773,6216,AF Active,Dover AFB,NaN,Delaware,United States,Active,14.014735,...,oak forest,Illinios,us,cylinder,7200.0,2 hours,There were 3 red lights&#44 sometimes they wer...,10/11/2005,41.602778,-87.743889
598,773,774,6225,Army Active,Aberdeen Proving Ground,NaN,Maryland,United States,Active,56.009355,...,oak forest,Illinios,us,light,1800.0,15-30min,3 red lights over chicagoland area,10/11/2005,41.602778,-87.743889
599,774,775,6230,AF Active,Patrick AFB,NaN,Florida,United States,Active,18.438839,...,oak forest,Illinios,us,unknown,60.0,60 seconds,it lasted for about one minute,10/11/2005,41.602778,-87.743889
600,775,776,6238,Navy Active,NAS Whiting Field Milton FL,NaN,Florida,United States,Active,23.809911,...,posen,Illinios,us,light,1200.0,10-20 minutes,3 Red lights in triangle formation moving slow...,10/11/2005,41.631667,-87.681389

In [39]:
# Create a group based on the values in the 'maker' column
military_state = combined_data.groupby('STATE_TERR')

# Count how many times each maker appears in our group
military_count = military_state['STATE_TERR'].count()

military_count

STATE_TERR
Alabama                 26
Alaska                  13
Arizona                 13
Arkansas                 4
California              59
Colorado                 8
Connecticut              5
Delaware                 3
District of Columbia     5
Florida                 39
Georgia                 15
Hawaii                  27
Idaho                    6
Illinois                13
Indiana                  7
Iowa                     3
Kansas                   7
Kentucky                 5
Louisiana               11
Maine                    7
Maryland                19
Massachusetts            8
Michigan                 6
Minnesota                9
Mississippi             10
Missouri                 9
Montana                  4
Nebraska                 7
Nevada                  12
New Hampshire            3
New Jersey               6
New Mexico               6
New York                15
North Carolina          11
North Dakota             7
Ohio                    12
Oklahoma                14
Oregon                   9
Pennsylvania            10
Rhode Island             3
South Carolina          12
South Dakota             7
Tennessee               13
Texas                   31
Utah                     8
Vermont                  5
Virginia                36
Washington              18
West Virginia            6
Wisconsin                7
Wyoming                  2
Name: STATE_TERR, dtype: int64

In [38]:
# Create a group based on the values in the 'maker' column
ufo_state = combined_data.groupby('state')

# Count how many times each maker appears in our group
ufo_count = ufo_state['state'].count()

ufo_count

state
Alabama            6
Alaska             2
Arizona           21
Arkansas           4
California        65
Colordo           13
Connecticut        8
Florida           28
Georgia           10
Hawaii             2
Idaho              3
Illinios          43
Indiana           13
Iowa               7
Kansas             6
Kentucky          11
Louisiana          2
Maine              7
Maryland           6
Massachusetts     11
Michigan          22
Minnesota         14
Mississippi        2
Missouri          15
Montana            1
Nebraska           2
Nevada            11
New Hampshire      7
New Jersey         9
New Mexico         8
New York          47
North Carolina    13
Ohio              23
Oklahoma           6
Oregon            20
Pennsylvania      14
Puerto Rico        1
Rhode Island       2
South Carolina     7
Tennessee         13
Texas             29
Utah               4
Vermont            2
Virginia          13
Washington        33
West Virginia      5
Wisconsin         10
Name: state, dtype: int64

In [46]:
df_all_rows = pd.concat([ufo_count, military_count])
df_all_rows

Alabama            6
Alaska             2
Arizona           21
Arkansas           4
California        65
Colordo           13
Connecticut        8
Florida           28
Georgia           10
Hawaii             2
Idaho              3
Illinios          43
Indiana           13
Iowa               7
Kansas             6
Kentucky          11
Louisiana          2
Maine              7
Maryland           6
Massachusetts     11
Michigan          22
Minnesota         14
Mississippi        2
Missouri          15
Montana            1
Nebraska           2
Nevada            11
New Hampshire      7
New Jersey         9
New Mexico         8
                  ..
Massachusetts      8
Michigan           6
Minnesota          9
Mississippi       10
Missouri           9
Montana            4
Nebraska           7
Nevada            12
New Hampshire      3
New Jersey         6
New Mexico         6
New York          15
North Carolina    11
North Dakota       7
Ohio              12
Oklahoma          14
Oregon             9
Pennsylvania      10
Rhode Island       3
South Carolina    12
South Dakota       7
Tennessee         13
Texas             31
Utah               8
Vermont            5
Virginia          36
Washington        18
West Virginia      6
Wisconsin          7
Wyoming            2
Length: 98, dtype: int64