In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
from config import gkey
import gmaps
gmaps.configure(api_key=gkey)

In [2]:
file_path = ("Resources/ufo_clean.csv")
df = pd.read_csv(file_path)
df = df.rename(columns = {"latitude":"lat"})
df = df.rename(columns={ df.columns[-1]: "lng" })
df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,lat,lng
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
2,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
3,5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
4,7,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333

In [3]:
state_df = df.groupby("state").count()
state_df = state_df.reset_index()
state_df = state_df.rename(columns = {"datetime":"count of state"})
state_df = state_df[["state", "count of state"]]
state_df.head()

  state  count of state
0    ak             311
1    al             629
2    ar             578
3    az            2362
4    ca            8683

In [4]:
lat_lon= df[['lat', 'lng']]

In [5]:
# Store 'Lat' and 'Lng' into  locations 

locations = lat_lon.astype(float)

# Convert Poverty Rate to float and store

state_count = state_df["count of state"].astype(float)

# HINT: be sure to handle NaN values

In [6]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, dissipating=False, max_intensity=0, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))